@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body{
  background-image: url("img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.caixa{
  background-color: #4A4443;
  color:white;
  border-radius: 20px;
  padding: 20px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 5vh;
  border-style: solid;
  border-color: #EBD6B9;
  border-width: 1px;
  display: grid;
  place-items: center;
  align-content: center;
}
button, input[type=submit], input[type=text], textarea{
  display: grid;
  place-items: center;
  align-content: center;
  background-color: white;
  border-style: solid;
  border-color: #EBD6B9;
  border-width: 1px;
  border-radius: 20px;
  padding: 9px;
  color: black;

  transition: all 0.5s;
}

button:hover, input[type=submit]:hover{
  cursor: pointer;
  background-color: #968B89;
  transition: all 0.5s;
} 
h1, #mensagem{
  color: white;
  display: grid;
  place-items: center;
  align-content: center;

}
a{
  text-decoration: none;
}
button, h1{
  margin-top: 5vh;
}

